.container2 {
    position: absolute;
    top: 150%;

    height: 100vh;
    width: 100vw;
    background-image: url("../assets/2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}